/* & This will import the desired font for the webpage */
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

* {
    /* ~ This makes the "width" and "height" include padding and border instead of adding them on top */
    box-sizing: border-box;
}

/* & This will style the default appearance of the entire webpage */
body {
    /* background-color: #393a70; */
    /* background-color: #292a44; */
    /* background-color: #393a64; */
    /* background-color: #393a62; */
    background-color: #393a68;
    color: white;
    font-family: 'Poiret One';
    line-height: 1.7;
    /* ~ This will remove the default browser spacing */
    padding: 0;
    margin: 0;
}

/* & ------------------------------------ */

/* & This will style the elements in the header section of the webpage */
header {
    width: 95%;
    margin: auto;
    margin-top: 10px;
}

/* ~ This will style the logo-heading of the webpage */

.header-img {
    display: block;
    width: 225px;
    height: 225px;
    border: 7px solid #d5ffc0;
    padding: 15px;
    /* margin: 1rem auto; */
    /* margin: auto; */
}

/* ~ This will style the horizontal dividing line into a vertical dividing line */
.vertical-divider {
    width: 10px;
    height: 225px;
    background: linear-gradient(#d17 25%, #d5ffc0 75%)no-repeat;
}

h1 {
    width: max-content;
    border-bottom: 7px solid #d5ffc0;
    font-weight: 500;
    margin: auto;
}

heading > h2 {
    width: max-content;
    font-weight: 400;
    border-bottom: 7px solid #d5ffc0;
    padding-bottom: 8px;
    margin: auto;
}

.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* ~ This will style the horizontal dividing line in the header */
.header-divider {
    height: 10px;
    background: linear-gradient(90deg, #d17 25%, #d5ffc0 75%)no-repeat;
}

/* & ------------------------------------ */

/* ~ This will style the NavBar section of the header */
.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

a {
    color: #f4f5f1;
    text-decoration: none;
    font-size: 21px;
}

li {
    list-style: none;
}

.nav-list {
    border-bottom: 7px solid #d5ffc0;
    padding: 8px;
}

/* & ------------------------------------ */

/* ~ This will style the horizontal dividing line that will seperate the header, main, and footer */
.divider {
    width: 95%;
    height: 10px;
    background: linear-gradient(90deg, #d17 25%, #d5ffc0 75%)no-repeat;
    margin: auto;
}

/* & ------------------------------------ */

/* & This will style the elements in the main section of the webpage */
main {
    width: 100%;
}

/* & ------------------------------------ */

/* ~ This will style the about section */
#about {
    width: 100%;
    margin: auto;
}

h2 {
    width: max-content;
    font-weight: 400;
    padding-bottom: 8px;
    margin: auto;
}

/* ~ This will style the horizontal dividing line that will follow the title of each section */
.title-divider {
    width: 35%;
    height: 10px;
    background: linear-gradient(90deg, #d17 25%, #d5ffc0 75%)no-repeat;
    margin: auto;
}

h3 {
    width: max-content;
    font-weight: 400;
    font-size: 23px;
    border-bottom: 8px solid #d5ffc0;
    padding-bottom: 8px;
    margin: auto;
}

#about {
    width: 95%;
    padding: 8px;
    margin: auto;
}

p {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    margin: auto;
}

/* ~ This will style the horizontal dividing line the will follow each section of the main element */
.main-divider {
    width: 95%;
    height: 10px;
    background: linear-gradient(90deg, #d17 25%, #d5ffc0 75%)no-repeat;
}

/* & ------------------------------------ */

/* ~ This will style the section with the gallery artwork */
#visions-of-asia {
    width: 100%;
    padding: 10px;
    margin: auto;
}

figure {
    width: 95%;
    margin: auto;
}

#gallery-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

#fig-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

/* ~ This will style the 1st image for the gallery */
#asia-1 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

figcaption {
    width: 35%;
    text-align: center;
}

#fig-container {
    display: flex;
}

/* ~ This will style the 2nd image for the gallery */
#asia-2 {
    /* display: block; */
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* ~ This will style the 3rd image for the gallery */
#asia-3 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* ~ This will style the 4th image for the gallery */
#asia-4 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* ~ This will style the 5th image for the gallery */
#asia-5 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* ~ This will style the 6th image for the gallery */
#asia-6 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* ~ This will style the 7th image for the gallery */
#asia-7 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* ~ This will style the 7th image for the gallery */
#asia-8 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* ~ This will style the 9th image for the gallery */
#asia-9 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* ~ This will style the 10th image for the gallery */
#asia-10 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* ~ This will style the 11th image for the gallery */
#asia-11 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* ~ This will style the 12th image for the gallery */
#asia-12 {
    display: block;
    width: 275px;
    height: 300px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

/* & ------------------------------------ */

/* ~ This will style the contact us section */
#contact-us {
    width: 95%;
    margin: auto;
}

form {
    width: max-content;
    text-align: center;
    border: 7px solid #d5ffc0;
    padding: 15px;
    margin: auto;
}

label {
    font-size: 21px;
}

::placeholder {
    color: gray;
    text-align: center;
}

input[type="text"] {
    width: 440px;
    height: 35px;
    text-align: center;
    border-radius: 0;
    padding: 10px;
    margin: 10px;
}

input[type="email"] {
    width: 440px;
    height: 35px;
    text-align: center;
    border-radius: 0;
    padding: 10px;
    margin: 10px;
}

.inquiry-details {
    border-radius: 0;
}

input[type="submit"] {
    width: 440px;
    height: 45px;
    font-size: 21px;
    text-align: center;
    background-color: #d5ffc0;
    padding: 10px;
    margin: 10px;
}

/* & ------------------------------------ */

/* & This will style the elements in the footer section of the webpage */
footer {
    width: 95%;
    margin: auto;
    margin-bottom: 10px;
}

.footer-img {
    display: block;
    width: 225px;
    height: 225px;
    border: 7px solid #d5ffc0;
    padding: 15px;
}

footer > p {
    text-align: center;
    width: 20%;
    margin: auto;
}
